@{
    ViewBag.Title = "One Page";
}

@* Slide *@
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">E-Commerce ESBA</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>

@* Clientes *@

<!-- Clientes Section-->
@Html.Partial("Secciones/_Clientes")

<!-- Producto Section-->
@Html.Partial("Secciones/_Productos")

@* Quienes somos *@

@Html.Partial("Secciones/_QuienesSomos")

@* Contacto *@

@Html.Partial("Secciones/_Contacto")


